<!-- Why Choose Us Section Start -->
<div class="why-choose-us">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-xl-6">
				<!-- Why Choose Content Start -->
				<div class="why-choose-content">
					<!-- Section Title Start -->
					<div class="section-title">
						<span class="section-sub-title wow fadeInUp">Почему я</span>
						<h2 class="text-anime-style-3" data-cursor="-opaque">Почему мне доверяют техпомощь на дороге</h2>
					</div>
					<!-- Section Title End -->

					<!-- Why Choose Body Start -->
					<div class="why-choose-body">
						<!-- Why Choose Items List Start -->
						<div class="why-choose-items-list wow fadeInUp" data-wow-delay="0.2s">
							<!-- Why Choose Item Start -->
							<div class="why-choose-item">
								<div class="icon-box">
									<img src="/images/icon-why-choose-item-1.svg" alt="Понятные условия" />
								</div>
								<div class="why-choose-item-content">
									<h3>Понятные условия</h3>
									<p>Я обсуждаю задачу до выезда и не навязываю лишние работы.</p>
								</div>
							</div>
							<!-- Why Choose Item End -->

							<!-- Why Choose Item Start -->
							<div class="why-choose-item">
								<div class="icon-box">
									<img src="/images/icon-why-choose-item-2.svg" alt="Аккуратная работа" />
								</div>
								<div class="why-choose-item-content">
									<h3>Аккуратная работа</h3>
									<p>Я использую подходящий инструмент и бережно отношусь к автомобилю.</p>
								</div>
							</div>
							<!-- Why Choose Item End -->
						</div>
						<!-- Why Choose Items List End -->

						<!-- Why Choose Items List Start -->
						<div class="why-choose-items-list wow fadeInUp" data-wow-delay="0.4s">
							<!-- Why Choose Item Start -->
							<div class="why-choose-item">
								<div class="icon-box">
									<img src="/images/icon-why-choose-item-3.svg" alt="Нужные услуги" />
								</div>
								<div class="why-choose-item-content">
									<h3>Нужные услуги</h3>
									<p>Я прикуриваю авто, меняю аккумуляторы, отогреваю машины, работаю как автоэлектрик и провожу диагностику.</p>
								</div>
							</div>
							<!-- Why Choose Item End -->

							<!-- Why Choose Item Start -->
							<div class="why-choose-item">
								<div class="icon-box">
									<img src="/images/icon-why-choose-item-4.svg" alt="Выезд 24 7" />
								</div>
								<div class="why-choose-item-content">
									<h3>Выезд 24/7</h3>
									<p>Я работаю круглосуточно в Тюмени и Тюменской области.</p>
								</div>
							</div>
							<!-- Why Choose Item End -->
						</div>
						<!-- Why Choose Items List End -->
					</div>
					<!-- Why Choose Body End -->
				</div>
				<!-- Why Choose Content End -->
			</div>

			<div class="col-xl-6">
				<!-- Why Choose Image Box Start -->
				<div class="why-choose-image-box wow fadeInUp" data-wow-delay="0.2s">
					<!-- Why Choose Image Box 1 Start -->
					<div class="why-choose-image-box-1">
						<!-- Why Choose Image Start -->
						<div class="why-choose-image">
							<figure class="image-anime">
								<img src="/images/why-choose-image-1.jpg" alt="Автопомощь на дороге" />
							</figure>
						</div>
						<!-- Why Choose Image End -->
					</div>
					<!-- Why Choose Image Box 1 End -->

					<!-- Why Choose Image Box 2 Start -->
					<div class="why-choose-image-box-2">
						<!-- Why Choose Counter Box Start -->
						<div class="why-choose-counter-box">
							<!-- Why Choose Counter Number Start -->
							<div class="why-choose-counter-no">
								<h2><span class="counter">24</span>/7</h2>
							</div>
							<!-- Why Choose Counter Number End -->

							<!-- Why Choose Counter Content Start -->
							<div class="why-choose-counter-content">
								<!-- Client Satisfaction Image Start -->
								<div class="satisfy-client-images">
									<div class="satisfy-client-image">
										<figure class="image-anime">
											<img src="/images/author-1.jpg" alt="Отзыв о помощи" />
										</figure>
									</div>
									<div class="satisfy-client-image">
										<figure class="image-anime">
											<img src="/images/author-2.jpg" alt="Отзыв о помощи" />
										</figure>
									</div>
									<div class="satisfy-client-image">
										<figure class="image-anime">
											<img src="/images/author-3.jpg" alt="Отзыв о помощи" />
										</figure>
									</div>
								</div>
								<!-- Client Satisfaction Image End -->

								<!-- Why Choose Satisfy Content Start -->
								<div class="why-choose-client-content">
									<p>На связи всегда</p>
								</div>
								<!-- Why Choose Satisfy Content End -->
							</div>
							<!-- Why Choose Counter Content End -->
						</div>
						<!-- Why Choose Counter Box End -->

						<!-- Why Choose Image Start -->
						<div class="why-choose-image">
							<figure class="image-anime">
								<img src="/images/why-choose-image-2.jpg" alt="Круглосуточная техпомощь" />
							</figure>
						</div>
						<!-- Why Choose Image End -->
					</div>
					<!-- Why Choose Image Box 2 End -->
				</div>
				<!-- Why Choose Image Box End -->
			</div>
		</div>
	</div>
</div>
<!-- Why Choose Us Section End -->
