    <!-- How It Work Section Start -->
    <div class="how-it-work-gold dark-section bg-section">
        <div class="container">
            <div class="row section-row">
                <div class="col-xl-12">
                    <!-- Section Title Start -->
                    <div class="section-title section-title-center">
                        <span class="section-sub-title wow fadeInUp">Как вызвать помощь</span>
                        <h2 class="text-anime-style-3" data-cursor="-opaque">Я приезжаю на помощь после трёх простых шагов</h2>
                    </div>
                    <!-- Section Title End -->
                </div>
            </div>

            <div class="row">
                <div class="col-xl-4 col-md-6">
                    <!-- How It Work Item Start -->
                    <div class="how-it-work-item-gold wow fadeInUp">
                        <div class="how-it-work-header-gold">
                            <div class="icon-box">
                                <img src="/images/icon-how-it-work-1-gold.svg" alt="">
                            </div>
                            <div class="how-it-work-no-gold">
                                <h3>01</h3>
                            </div>
                        </div>
                        <div class="how-it-work-body-gold">
                            <h3>Я принимаю заявку</h3>
                            <p>Я уточняю причину остановки и нужный вид техпомощи.</p>
                        </div>
                    </div>
                    <!-- How It Work Item End -->
                </div>

                <div class="col-xl-4 col-md-6">
                    <!-- How It Work Item Start -->
                    <div class="how-it-work-item-gold wow fadeInUp" data-wow-delay="0.2s">
                        <div class="how-it-work-header-gold">
                            <div class="icon-box">
                                <img src="/images/icon-how-it-work-2-gold.svg" alt="">
                            </div>
                            <div class="how-it-work-no-gold">
                                <h3>02</h3>
                            </div>
                        </div>
                        <div class="how-it-work-body-gold">
                            <h3>Я фиксирую адрес</h3>
                            <p>Я фиксирую точку в Тюмени и рассчитываю маршрут экипажа.</p>
                        </div>
                    </div>
                    <!-- How It Work Item End -->
                </div>

                <div class="col-xl-4 col-md-6">
                    <!-- How It Work Item Start -->
                    <div class="how-it-work-item-gold wow fadeInUp" data-wow-delay="0.4s">
                        <div class="how-it-work-header-gold">
                            <div class="icon-box">
                                <img src="/images/icon-how-it-work-3-gold.svg" alt="">
                            </div>
                            <div class="how-it-work-no-gold">
                                <h3>03</h3>
                            </div>
                        </div>
                        <div class="how-it-work-body-gold">
                            <h3>Я оказываю помощь</h3>
                            <p>Я выезжаю на прикуривание, ремонт, отогрев или эвакуацию.</p>
                        </div>
                    </div>
                    <!-- How It Work Item End -->
                </div>

                <div class="col-lg-12">
                    <!-- How It Work Footer Start -->
                    <div class="how-it-work-footer-gold wow fadeInUp" data-wow-delay="0.6s">
                        <!-- How It Footer List Start -->
                        <div class="how-it-footer-list-gold">
                            <ul>
                                <li>Прикуривание автомобиля</li>
                                <li>Замена аккумулятора</li>
                                <li>Эвакуация автомобиля</li>
                                <li>Подвоз топлива</li>
                            </ul>
                        </div>
                        <!-- How It Footer List End -->

                        <!-- Section Footer Text Start -->
                        <div class="section-footer-text section-satisfy-img">
                            <!-- Satisfy Client Images Start -->
                            <div class="satisfy-client-images">
                                <div class="satisfy-client-image">
                                    <figure class="image-anime">
                                        <img src="/images/author-1.jpg" alt="">
                                    </figure>
                                </div>
                                <div class="satisfy-client-image add-more">
                                    <img src="/images/icon-phone-white.svg" alt="">
                                </div>
                            </div>
                            <!-- Satisfy Client Images End -->    
                            <p>Я быстро организую помощь на дороге. <a href="/#contact">Вызвать помощь</a></p>
                        </div>
                        <!-- Section Footer Text End -->
                    </div>
                    <!-- How It Work Footer End -->
                </div>
            </div>
        </div>
    </div>
    <!-- How It Work Section End -->