---
---

    <!-- Our Service Section Start -->
    <div class="our-services bg-section">
        <div class="container">
            <div class="row section-row ">
                <div class="col-xl-12">
                    <!-- Section Title Start -->
                    <div class="section-title section-title-center">
                        <span class="section-sub-title wow fadeInUp">Услуги техпомощи на дороге</span>
                        <h2 class="text-anime-style-3" data-cursor="-opaque">Я помогу при поломке автомобиля в Тюмени</h2>
                    </div>
                    <!-- Section Title End -->
                </div>
            </div>

            <div class="row">
                <div class="col-xl-4 col-md-6">
                    <!-- Service Item Start -->
                    <div class="service-item wow fadeInUp">
                        <div class="icon-box">
                            <img src="/images/icon-service-1.svg" alt="">
                        </div>
                        <div class="service-item-body">
                            <div class="service-item-content">
                                <h2><a href="/services">Прикурить автомобиль</a></h2> 
                                <p>Я запущу двигатель с помощью пускового оборудования, если аккумулятор разрядился на дороге.</p>
                            </div>
                            <div class="service-item-btn">
                                <a href="/services" class="readmore-btn">Я расскажу об услуге</a>
                            </div>
                        </div>
                    </div>
                    <!-- Service Item End -->
                </div>

                <div class="col-xl-4 col-md-6">
                    <!-- Service Item Start -->
                    <div class="service-item wow fadeInUp" data-wow-delay="0.2s">
                        <div class="icon-box">
                            <img src="/images/icon-service-2.svg" alt="">
                        </div>
                        <div class="service-item-body">
                            <div class="service-item-content">
                                <h2><a href="/services">Замена аккумулятора</a></h2> 
                                <p>Я проверю аккумулятор, подберу замену и установлю новую батарею на месте в Тюмени.</p>
                            </div>
                            <div class="service-item-btn">
                                <a href="/services" class="readmore-btn">Я расскажу об услуге</a>
                            </div>
                        </div>
                    </div>
                    <!-- Service Item End -->
                </div>

                <div class="col-xl-4 col-md-6">
                    <!-- Service Item Start -->
                    <div class="service-item wow fadeInUp" data-wow-delay="0.4s">
                        <div class="icon-box">
                            <img src="/images/icon-service-3.svg" alt="">
                        </div>
                        <div class="service-item-body">
                            <div class="service-item-content">
                                <h2><a href="/services">Отогрев автомобиля</a></h2> 
                                <p>Я аккуратно отогрею замёрзший автомобиль и помогу запустить двигатель без лишнего риска.</p>
                            </div>
                            <div class="service-item-btn">
                                <a href="/services" class="readmore-btn">Я расскажу об услуге</a>
                            </div>
                        </div>
                    </div>
                    <!-- Service Item End -->
                </div>

                <div class="col-lg-12">
                    <!-- Section Footer Text Start -->
                    <div class="section-footer-text section-satisfy-img wow fadeInUp" data-wow-delay="0.4s">
                        <!-- Satisfy Client Images Start -->
                        <div class="satisfy-client-images">
                            <div class="satisfy-client-image">
                                <figure class="image-anime">
                                    <img src="/images/author-1.jpg" alt="">
                                </figure>
                            </div>
                            <div class="satisfy-client-image add-more">
                                <img src="/images/icon-phone-primary.svg" alt="">
                            </div>
                        </div>
                        <!-- Satisfy Client Images End -->
                        <p>Я также выполню вскрытие автомобиля, подвоз топлива или эвакуацию — <a href="/services">посмотреть все услуги</a></p>
                        <ul>
                            <li><span class="counter">4.9</span></li>
                            <li>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </li>
                            <li>Отзывы о моей работе</li>
                        </ul>
                    </div>
                    <!-- Section Footer Text End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Our Service Section End -->