    <!-- What We Do Section Start -->
    <div class="what-we-do-gold">
        <div class="container">
            <div class="row">
                <div class="col-xl-6">
                    <!-- What We Image Box Start -->
                    <div class="what-we-image-box-gold wow fadeInUp">
                        <!-- What We Image 1 Start -->
                        <div class="what-we-image-gold box-1">
                            <figure class="image-anime">
                                <img src="/images/what-we-do-image-1-gold.jpg" alt="">
                            </figure>
                        </div>
                        <!-- What We Image 1 End -->

                        <!-- What We Image 2 Start -->
                        <div class="what-we-image-gold box-2">
                            <figure class="image-anime">
                                <img src="/images/what-we-do-image-2-gold.jpg" alt="">
                            </figure>
                        </div>
                        <!-- What We Image 2 End -->
                    </div>
                    <!-- What We Image Box End -->
                </div>

                <div class="col-xl-6">
                    <!-- What We Content Start -->
                    <div class="what-we-do-content-gold">
                        <!-- Section Title Start -->
                        <div class="section-title">
                            <span class="section-sub-title wow fadeInUp">Что я делаю</span>
                            <h2 class="text-anime-style-3" data-cursor="-opaque">Я решаю задачи на дороге в Тюмени</h2>
                            <p class="wow fadeInUp" data-wow-delay="0.2s">Я оказываю техпомощь на дороге: запускаю двигатель, меняю аккумулятор, отогреваю автомобиль и безопасно эвакуирую его.</p>
                        </div>
                        <!-- Section Title End -->

                        <!-- What We Counter List Start -->
                        <div class="what-we-counter-list-gold">
                            <!-- What We Counter Item Start -->
                            <div class="what-we-counter-item-gold">
                                <!-- What We Counter Circle Start -->
                                <div class="circle" data-size="90" data-value="0.98">
                                    <div class="progress_value">
                                        <span class="pro_data"></span><span>%</span>
                                    </div>
                                </div>
                                <!-- What We Counter Circle End -->

                                <!-- What We Counter Item Title Start -->
                                <div class="what-we-counter-item-title-gold">
                                    <h3>Я довожу помощь до результата</h3>
                                </div>
                                <!-- What We Counter Item Title End -->
                            </div>
                            <!-- What We Counter Item End -->

                            <!-- What We Counter Item Start -->
                            <div class="what-we-counter-item-gold">
                                <!-- What We Counter Circle Start -->
                                <div class="circle" data-size="90" data-value="0.85">
                                    <div class="progress_value">
                                        <span class="pro_data"></span><span>%</span>
                                    </div>
                                </div>
                                <!-- What We Counter Circle End -->

                                <!-- What We Counter Item Title Start -->
                                <div class="what-we-counter-item-title-gold">
                                    <h3>Я выезжаю с оборудованием</h3>
                                </div>
                                <!-- What We Counter Item Title End -->
                            </div>
                            <!-- What We Counter Item End -->
                        </div>
                        <!-- What We Counter List End -->

                        <!-- What We Content Body Start -->
                        <div class="what-we-content-body-gold wow fadeInUp" data-wow-delay="0.4s">
                            <!-- What We Body List Start -->
                            <div class="what-we-body-list-gold">
                                <ul>
                                    <li>Я принимаю заявку и быстро выезжаю</li>
                                    <li>Я работаю круглосуточно</li>
                                    <li>Я помогаю на месте и эвакуирую авто</li>
                                </ul>
                            </div>
                            <!-- What We Body List End -->

                            <!--What We Item Box Start -->
                            <div class="what-we-info-box-gold">
                                <div class="what-we-info-header-gold">
                                    <div class="icon-box">
                                        <img src="/images/icon-what-we-do-1-gold.svg" alt="">
                                    </div>
                                    <div class="what-we-info-header-title-gold">
                                        <h3>Я помогаю в городе</h3>
                                    </div>
                                </div>
                                <div class="what-we-info-content-gold">
                                    <p>Я приезжаю по Тюмени, оцениваю проблему на месте и выбираю безопасный способ вернуть авто в движение.</p>
                                </div>
                            </div>
                            <!--What We Item Box End -->
                        </div>
                        <!-- What We Content Body End -->

                        <!-- Why Choose Footer Start -->
                        <div class="what-we-footer-gold wow fadeInUp" data-wow-delay="0.6s">
                            <!-- Why Choose Us Button Start -->
                            <div class="what-we-btn-gold">
                                <a href="/#contact" class="btn-default">Связаться со мной</a>
                            </div>
                            <!-- Why Choose Button End -->

                            <!-- Why Choose Author Box Start -->
                            <div class="why-choose-author-box-gold">
                                <!-- Why Choose Author Image Start -->
                                <div class="why-choose-author-image-gold">
                                    <figure class="image-anime">
                                        <img src="/images/author-1.jpg" alt="">
                                    </figure>
                                </div>
                                <!-- Why Choose Author Image End -->

                                <!-- Why Choose Author Content Start -->
                                <div class="why-choose-author-content-gold">
                                    <h3>Я — «За рулём»</h3>
                                    <p>Я помогаю на дороге</p>
                                </div>
                                <!-- Why Choose Author Content Start -->
                            </div>
                            <!-- Why Choose Author Box End -->
                        </div>
                        <!-- Why Choose Footer End -->
                    </div>
                    <!-- What We Content End -->
                </div>
            </div>
        </div>
    </div>
    <!-- What We Do Section End -->