<!-- Our Testimonials Section Start -->
<div class="our-testimonials-gold">
    <div class="container">
        <div class="row section-row align-items-center">
            <div class="col-xl-6">
                <!-- Section Title Start -->
                <div class="section-title">
                    <span class="section-sub-title wow fadeInUp">Мой опыт помощи на дороге</span>
                    <h2 class="text-anime-style-3" data-cursor="-opaque">Надёжная техпомощь в любой ситуации</h2>
                </div>
                <!-- Section Title End -->
            </div>

            <div class="col-xl-6">
                <!-- Section Title Content Start -->
                <div class="section-title-content wow fadeInUp" data-wow-delay="0.2s">
                    <p>Я приезжаю на место поломки в Тюмени и помогаю вернуть автомобиль в движение: прикуриваю, меняю аккумулятор, отогреваю двигатель и решаю другие дорожные проблемы.</p>
                </div>
                <!-- Section Title Content End -->
            </div>
        </div>

        <div class="row">
            <div class="col-xl-4 col-lg-5">
                <!-- Testimonals Image Box Start -->
                <div class="testimoinials-image-box-gold wow fadeInUp">
                    <!-- Testimonials Image Start -->
                    <div class="testimonials-image-gold">
                        <figure class="image-anime">
                            <img src="/images/testimonials-image-gold.jpg" alt="">
                        </figure>
                    </div>
                    <!-- Testimonials Image End -->

                    <!-- Testimonial Client Info Box Start -->
                    <div class="testimonial-client-info-box-gold">
                        <!-- Satisfy Client Images Start -->
                        <div class="satisfy-client-images">
                            <div class="satisfy-client-image">
                                <figure class="image-anime">
                                    <img src="/images/author-1.jpg" alt="">
                                </figure>
                            </div>
                            <div class="satisfy-client-image">
                                <figure class="image-anime">
                                    <img src="/images/author-2.jpg" alt="">
                                </figure>
                            </div>
                            <div class="satisfy-client-image">
                                <figure class="image-anime">
                                    <img src="/images/author-3.jpg" alt="">
                                </figure>
                            </div>
                            <div class="satisfy-client-image add-more">
                                <i class="fa-solid fa-plus"></i>
                            </div>
                        </div>
                        <!-- Satisfy Client Images End -->

                        <!-- Satisfy Client Content Start -->
                        <div class="testimonial-client-content-gold">
                            <p>Мне доверяют автомобили</p>
                        </div>
                        <!-- Satisfy Client Content End -->
                    </div>
                    <!-- Testimonial Client Info Box End -->
                </div>
                <!-- Testimonals Image Box End -->
            </div>

            <div class="col-xl-8 col-lg-7">
                <!-- Testimonial Slider Start -->
                <div class="testimonial-slider-gold wow fadeInUp" data-wow-delay="0.2s">
                    <div class="swiper">
                        <div class="swiper-wrapper" data-cursor-text="Перетащить">
                            <div class="swiper-slide">
                                <!-- Testimonial Item Start -->
                                <div class="testimonial-item-gold">
                                    <!-- Testimonial Item Header Start -->
                                    <div class="testimonial-item-header-gold">
                                        <div class="testimonial-item-quote-gold">
                                            <img src="/images/icon-quote-gold.svg" alt="">
                                        </div>
                                        <div class="testimonial-item-rating-gold">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                        </div>
                                    </div>
                                    <!-- Testimonial Item Header End -->

                                    <!-- Testimonial Item Body Start -->
                                    <div class="testimonial-item-body-gold">
                                        <!-- Testimonial Item Content Start -->
                                        <div class="testimonail-item-content-gold">
                                            <h2>Я быстро вернул автомобиль в движение</h2>
                                            <p>Я обратился за помощью после разряда аккумулятора во дворе. Мне быстро прикурили автомобиль, проверили запуск двигателя и объяснили, что сделать дальше. Я остался доволен точным приездом и аккуратной работой.</p>
                                        </div>
                                        <!-- Testimonial Item Content End -->

                                        <!-- Testimonial Author Box Start -->
                                        <div class="testimonial-author-box-gold">
                                            <!-- Testimonial Author Image Start -->
                                            <div class="testimonial-author-image-gold">
                                                <figure class="image-anime">
                                                    <img src="/images/author-1.jpg" alt="">
                                                </figure>
                                            </div>
                                            <!-- Testimonial Author Image End -->

                                            <!-- Testimonial Author Content Start -->
                                            <div class="testimonial-author-content-gold">
                                                <h2>Алексей</h2>
                                                <p>Водитель в Тюмени</p>
                                            </div>
                                            <!-- Testimonial Author Content End -->
                                        </div>
                                        <!-- Testimonial Author Box End -->
                                    </div>
                                    <!-- Testimonial Item Body Start -->
                                </div>
                                <!-- Testimonial Item End -->
                            </div>

                            <div class="swiper-slide">
                                <!-- Testimonial Item Start -->
                                <div class="testimonial-item-gold">
                                    <!-- Testimonial Item Header Start -->
                                    <div class="testimonial-item-header-gold">
                                        <div class="testimonial-item-quote-gold">
                                            <img src="/images/icon-quote-gold.svg" alt="">
                                        </div>
                                        <div class="testimonial-item-rating-gold">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                        </div>
                                    </div>
                                    <!-- Testimonial Item Header End -->

                                    <!-- Testimonial Item Body Start -->
                                    <div class="testimonial-item-body-gold">
                                        <!-- Testimonial Item Content Start -->
                                        <div class="testimonail-item-content-gold">
                                            <h2>Я получил помощь в сильный мороз</h2>
                                            <p>Я не смог завести машину утром после ночной стоянки. Мне помогли отогреть двигатель, запустить автомобиль и проверить аккумулятор. Я получил понятные рекомендации и спокойно продолжил поездку.</p>
                                        </div>
                                        <!-- Testimonial Item Content End -->

                                        <!-- Testimonial Author Box Start -->
                                        <div class="testimonial-author-box-gold">
                                            <!-- Testimonial Author Image Start -->
                                            <div class="testimonial-author-image-gold">
                                                <figure class="image-anime">
                                                    <img src="/images/author-1.jpg" alt="">
                                                </figure>
                                            </div>
                                            <!-- Testimonial Author Image End -->

                                            <!-- Testimonial Author Content Start -->
                                            <div class="testimonial-author-content-gold">
                                                <h2>Марина</h2>
                                                <p>Автовладелец в Тюмени</p>
                                            </div>
                                            <!-- Testimonial Author Content End -->
                                        </div>
                                        <!-- Testimonial Author Box End -->
                                    </div>
                                    <!-- Testimonial Item Body Start -->
                                </div>
                                <!-- Testimonial Item End -->
                            </div>
                        </div>
                        <div class="testimonial-btn-gold">
                            <div class="testimonial-button-prev-gold"></div>
                            <div class="testimonial-button-next-gold"></div>
                        </div>
                    </div>  
                </div>
                <!-- Testimonial Slider End -->
            </div>

            <div class="col-lg-12">
                <!-- Section Footer Text Start -->
                <div class="section-footer-text section-satisfy-img wow fadeInUp" data-wow-delay="0.6s">
                    <!-- Satisfy Client Images Start -->
                    <div class="satisfy-client-images">
                        <div class="satisfy-client-image">
                            <figure class="image-anime">
                                <img src="/images/author-1.jpg" alt="">
                            </figure>
                        </div>
                        <div class="satisfy-client-image add-more">
                            <img src="/images/icon-phone-white.svg" alt="">
                        </div>
                    </div>
                    <!-- Satisfy Client Images End -->    
                    <p>Я помогаю вернуть автомобиль на дорогу. - <a href="/blog">Читать отзывы</a></p>
                </div>
                <!-- Section Footer Text End -->
            </div>
        </div>
    </div>
</div>
<!-- Our Testimonials Section Start -->