    <!-- Our Fleets Section Start -->
    <div class="our-fleets bg-section">
        <div class="container">
            <div class="row section-row">
                <div class="col-xl-12">
                    <!-- Section Title Start -->
                    <div class="section-title section-title-center">
                        <span class="section-sub-title wow fadeInUp">Мои услуги</span>
                        <h2 class="text-anime-style-3" data-cursor="-opaque">Я помогаю на дороге в Тюмени</h2>
                    </div>
                    <!-- Section Title End -->
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <!-- Fleets Slider Start -->
                    <div class="fleets-slider wow fadeInUp" data-wow-delay="0.2s">
                        <div class="swiper">
                            <div class="swiper-wrapper">

                                <!-- Fleets Slide Start -->
                                <div class="swiper-slide">
                                    <div class="fleets-item">
                                        <!-- Fleets Item Image Start -->
                                        <div class="fleets-item-image">
                                            <a href="/services" data-cursor-text="Я помогаю подвезти топливо">
                                                <figure>
                                                    <img src="/images/services/service-4.jpg" alt="Привезти топливо">
                                                </figure>
                                            </a>
                                        </div>
                                        <!-- Fleets Item Image End -->

                                        <!-- Fleets Item Button Start -->
                                        <div class="fleets-item-btn">
                                            <a href="/services"><img src="/images/arrow-primary.svg" alt=""></a>
                                        </div>
                                        <!-- Project Item Button End -->

                                        <!-- Fleets Item Body Start -->
                                        <div class="fleets-item-body">
                                            <!-- Fleets Item Content Start -->
                                            <div class="fleets-item-content">
                                                <p>Я прикуриваю авто</p>
                                                <h2>от 1 200 ₽ <sub>/выезд</sub></h2>
                                            </div>
                                            <!-- Fleets Item Content End -->

                                            <!-- Fleets Amenity Item List Start -->
                                            <div class="fleets-amenity-item-list">
                                                <ul>
                                                    <li><img src="/images/icon-amenity-item-1.svg" alt="">Я подаю питание</li>
                                                    <li><img src="/images/icon-amenity-item-2.svg" alt="">Я запускаю двигатель</li>
                                                </ul>
                                            </div>
                                            <!-- Fleets Amenity Item List End -->
                                        </div>
                                        <!-- Fleets Item Header Box End -->
                                    </div>
                                </div>
                                <!-- Fleets Slide End -->


                                <!-- Fleets Slide Start -->
                                <div class="swiper-slide">
                                    <div class="fleets-item">
                                        <!-- Fleets Item Image Start -->
                                        <div class="fleets-item-image">
                                            <a href="/services" data-cursor-text="Я помогаю">
                                                <figure>
                                                    <img src="/images/fleets-image-1.jpg" alt="">
                                                </figure>
                                            </a>
                                        </div>
                                        <!-- Fleets Item Image End -->

                                        <!-- Fleets Item Button Start -->
                                        <div class="fleets-item-btn">
                                            <a href="/services"><img src="/images/arrow-primary.svg" alt=""></a>
                                        </div>
                                        <!-- Project Item Button End -->
                                         
                                        <!-- Fleets Item Body Start -->
                                        <div class="fleets-item-body">
                                            <!-- Fleets Item Content Start -->
                                            <div class="fleets-item-content">
                                                <p>Я прикуриваю авто</p>
                                                <h2>от 800 ₽ <sub>/выезд</sub></h2>
                                            </div>
                                            <!-- Fleets Item Content End -->

                                            <!-- Fleets Amenity Item List Start -->
                                            <div class="fleets-amenity-item-list">
                                                <ul>
                                                    <li><img src="/images/icon-amenity-item-1.svg" alt="">Я подаю питание</li>
                                                    <li><img src="/images/icon-amenity-item-2.svg" alt="">Я запускаю двигатель</li>
                                                </ul>
                                            </div>
                                            <!-- Fleets Amenity Item List End -->
                                        </div>
                                        <!-- Fleets Item Header Box End -->
                                    </div>
                                </div>
                                <!-- Fleets Slide End -->

                                <!-- Fleets Slide Start -->
                                <div class="swiper-slide">
                                    <div class="fleets-item">
                                        <!-- Fleets Item Image Start -->
                                        <div class="fleets-item-image">
                                            <a href="/services" data-cursor-text="Я помогаю">
                                                <figure>
                                                    <img src="/images/fleets-image-2.jpg" alt="">
                                                </figure>
                                            </a>
                                        </div>
                                        <!-- Fleets Item Image End -->

                                        <!-- Fleets Item Button Start -->
                                        <div class="fleets-item-btn">
                                            <a href="/services"><img src="/images/arrow-primary.svg" alt=""></a>
                                        </div>
                                        <!-- Project Item Button End -->

                                        <!-- Fleets Item Body Start -->
                                        <div class="fleets-item-body">
                                            <!-- Fleets Item Content Start -->
                                            <div class="fleets-item-content">
                                                <p>Я заменяю аккумулятор</p>
                                                <h2>от 1 500 ₽ <sub>/выезд</sub></h2>
                                            </div>
                                            <!-- Fleets Item Content End -->

                                            <!-- Fleets Amenity Item List Start -->
                                            <div class="fleets-amenity-item-list">
                                                <ul>
                                                    <li><img src="/images/icon-amenity-item-1.svg" alt="">Я привожу аккумулятор</li>
                                                    <li><img src="/images/icon-amenity-item-2.svg" alt="">Я устанавливаю на месте</li>
                                                </ul>
                                            </div>
                                            <!-- Fleets Amenity Item List End -->
                                        </div>
                                        <!-- Fleets Item Header Box End -->
                                    </div>
                                </div>
                                <!-- Fleets Slide End -->

                                <!-- Fleets Slide Start -->
                                <div class="swiper-slide">
                                    <div class="fleets-item">
                                        <!-- Fleets Item Image Start -->
                                        <div class="fleets-item-image">
                                            <a href="/services" data-cursor-text="Я помогаю">
                                                <figure>
                                                    <img src="/images/fleets-image-3.jpg" alt="">
                                                </figure>
                                            </a>
                                        </div>
                                        <!-- Fleets Item Image End -->

                                        <!-- Fleets Item Button Start -->
                                        <div class="fleets-item-btn">
                                            <a href="/services"><img src="/images/arrow-primary.svg" alt=""></a>
                                        </div>
                                        <!-- Project Item Button End -->

                                        <!-- Fleets Item Body Start -->
                                        <div class="fleets-item-body">
                                            <!-- Fleets Item Content Start -->
                                            <div class="fleets-item-content">
                                                <p>Я отогреваю авто</p>
                                                <h2>от 2 000 ₽ <sub>/выезд</sub></h2>
                                            </div>
                                            <!-- Fleets Item Content End -->

                                            <!-- Fleets Amenity Item List Start -->
                                            <div class="fleets-amenity-item-list">
                                                <ul>
                                                    <li><img src="/images/icon-amenity-item-1.svg" alt="">Я отогреваю двигатель</li>
                                                    <li><img src="/images/icon-amenity-item-2.svg" alt="">Я запускаю авто на месте</li>
                                                </ul>
                                            </div>
                                            <!-- Fleets Amenity Item List End -->
                                        </div>
                                        <!-- Fleets Item Header Box End -->
                                    </div>
                                </div>
                                <!-- Fleets Slide End -->

                                <!-- Fleets Slide Start -->
                                <div class="swiper-slide">
                                    <div class="fleets-item">
                                        <!-- Fleets Item Image Start -->
                                        <div class="fleets-item-image">
                                            <a href="/services" data-cursor-text="Я помогаю">
                                                <figure>
                                                    <img src="/images/fleets-image-4.jpg" alt="">
                                                </figure>
                                            </a>
                                        </div>
                                        <!-- Fleets Item Image End -->

                                        <!-- Fleets Item Button Start -->
                                        <div class="fleets-item-btn">
                                            <a href="/services"><img src="/images/arrow-primary.svg" alt=""></a>
                                        </div>
                                        <!-- Project Item Button End -->

                                        <!-- Fleets Item Body Start -->
                                        <div class="fleets-item-body">
                                            <!-- Fleets Item Content Start -->
                                            <div class="fleets-item-content">
                                                <p>Я эвакуирую авто</p>
                                                <h2>от 2 500 ₽ <sub>/выезд</sub></h2>
                                            </div>
                                            <!-- Fleets Item Content End -->

                                            <!-- Fleets Amenity Item List Start -->
                                            <div class="fleets-amenity-item-list">
                                                <ul>
                                                    <li><img src="/images/icon-amenity-item-1.svg" alt="">Я погружаю автомобиль</li>
                                                    <li><img src="/images/icon-amenity-item-2.svg" alt="">Я доставляю до места</li>
                                                </ul>
                                            </div>
                                            <!-- Fleets Amenity Item List End -->
                                        </div>
                                        <!-- Fleets Item Header Box End -->
                                    </div>
                                </div>
                                <!-- Fleets Slide End -->

                                <!-- Fleets Slide Start -->
                                <div class="swiper-slide">
                                    <div class="fleets-item">
                                        <!-- Fleets Item Image Start -->
                                        <div class="fleets-item-image">
                                            <a href="/services" data-cursor-text="Я помогаю">
                                                <figure>
                                                    <img src="/images/fleets-image-5.jpg" alt="">
                                                </figure>
                                            </a>
                                        </div>
                                        <!-- Fleets Item Image End -->

                                        <!-- Fleets Item Button Start -->
                                        <div class="fleets-item-btn">
                                            <a href="/services"><img src="/images/arrow-primary.svg" alt=""></a>
                                        </div>
                                        <!-- Project Item Button End -->

                                        <!-- Fleets Item Body Start -->
                                        <div class="fleets-item-body">
                                            <!-- Fleets Item Content Start -->
                                            <div class="fleets-item-content">
                                                <p>Я вскрываю авто</p>
                                                <h2>от 1 500 ₽ <sub>/выезд</sub></h2>
                                            </div>
                                            <!-- Fleets Item Content End -->

                                            <!-- Fleets Amenity Item List Start -->
                                            <div class="fleets-amenity-item-list">
                                                <ul>
                                                    <li><img src="/images/icon-amenity-item-1.svg" alt="">Я открываю без повреждений</li>
                                                    <li><img src="/images/icon-amenity-item-2.svg" alt="">Я работаю с замками авто</li>
                                                </ul>
                                            </div>
                                            <!-- Fleets Amenity Item List End -->
                                        </div>
                                        <!-- Fleets Item Header Box End -->
                                    </div>
                                </div>
                                <!-- Fleets Slide End -->

                                <!-- Fleets Slide Start -->
                                <div class="swiper-slide">
                                    <div class="fleets-item">
                                        <!-- Fleets Item Image Start -->
                                        <div class="fleets-item-image">
                                            <a href="/services" data-cursor-text="Я помогаю">
                                                <figure>
                                                    <img src="/images/fleets-image-1.jpg" alt="">
                                                </figure>
                                            </a>
                                        </div>
                                        <!-- Fleets Item Image End -->

                                        <!-- Fleets Item Button Start -->
                                        <div class="fleets-item-btn">
                                            <a href="/services"><img src="/images/arrow-primary.svg" alt=""></a>
                                        </div>
                                        <!-- Project Item Button End -->

                                        <!-- Fleets Item Body Start -->
                                        <div class="fleets-item-body">
                                            <!-- Fleets Item Content Start -->
                                            <div class="fleets-item-content">
                                                <p>Я подвожу топливо</p>
                                                <h2>от 1 000 ₽ <sub>/выезд</sub></h2>
                                            </div>
                                            <!-- Fleets Item Content End -->

                                            <!-- Fleets Amenity Item List Start -->
                                            <div class="fleets-amenity-item-list">
                                                <ul>
                                                    <li><img src="/images/icon-amenity-item-1.svg" alt="">Я привожу нужное топливо</li>
                                                    <li><img src="/images/icon-amenity-item-2.svg" alt="">Я помогаю запустить авто</li>
                                                </ul>
                                            </div>
                                            <!-- Fleets Amenity Item List End -->
                                        </div>
                                        <!-- Fleets Item Header Box End -->
                                    </div>
                                </div>
                                <!-- Fleets Slide End -->
                            </div>
                            <div class="fleets-pagination"></div>
                        </div>
                    </div>
                    <!-- Fleets Slider End -->
                </div>

                <div class="col-lg-12">
                    <!-- Section Footer Text Start -->
                    <div class="section-footer-text section-satisfy-img wow fadeInUp" data-wow-delay="0.2s">
                        <!-- Satisfy Client Images Start -->
                        <div class="satisfy-client-images">
                            <div class="satisfy-client-image">
                                <figure class="image-anime">
                                    <img src="/images/author-1.jpg" alt="">
                                </figure>
                            </div>
                            <div class="satisfy-client-image add-more">
                                <img src="/images/icon-phone-primary.svg" alt="">
                            </div>
                        </div>
                        <!-- Satisfy Client Images End -->    
                        <p>Я собрал услуги техпомощи на дороге — <a href="/services">я показываю все услуги</a></p>
                    </div>
                    <!-- Section Footer Text End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Our Fleets Section End -->