<!-- Pricing Plan Section Start -->
<div class="our-pricing-gold bg-section">
    <div class="container">
        <div class="row section-row">
            <div class="col-xl-12">
                <!-- Section Title Start -->
                <div class="section-title section-title-center">
                    <span class="section-sub-title wow fadeInUp">Мои цены на техпомощь</span>
                    <h2 class="text-anime-style-3" data-cursor="-opaque">Понятная стоимость помощи на дороге</h2>
                </div>
                <!-- Section Title End -->
            </div>
        </div>

        <div class="row">
            <div class="col-xl-4 col-md-6">
                <!-- Pricing Item Start -->
                <div class="pricing-item-gold wow fadeInUp">
                    <!-- Pricing Item Header Start -->
                    <div class="pricing-item-header-gold">
                        <div class="icon-box">
                            <img src="/images/icon-pricing-1-gold.svg" alt="">
                        </div>
                        <div class="pricing-item-content-gold">
                            <span class="pricing-item-title-gold">Прикурить автомобиль</span>
                            <p>Я запускаю автомобиль от внешнего источника питания на месте поломки.</p>
                            <h2>от 800 ₽<sub>/выезд</sub></h2>
                        </div>
                        <div class="pricing-item-btn-gold">
                            <a href="/#contact" class="btn-default">Заказать помощь</a>
                        </div>
                    </div>
                    <!-- Pricing Item Header End -->

                    <!-- Pricing Item List Start -->
                    <div class="pricing-item-list-gold">
                        <h3>В услугу входит:</h3>
                        <ul>
                            <li>Выезд по Тюмени</li>
                            <li>Запуск двигателя</li>
                            <li>Проверка запуска аккумулятора</li>
                        </ul>
                    </div>
                    <!-- Pricing Item List End -->
                </div>
                <!-- Pricing Item End -->
            </div>

            <div class="col-xl-4 col-md-6">
                <!-- Pricing Item Start -->
                <div class="pricing-item-gold wow fadeInUp" data-wow-delay="0.2s">
                    <!-- Pricing Item Header Start -->
                    <div class="pricing-item-header-gold">
                        <div class="icon-box">
                            <img src="/images/icon-pricing-2-gold.svg" alt="">
                        </div>
                        <div class="pricing-item-content-gold">
                            <span class="pricing-item-title-gold">Замена аккумулятора</span>
                            <p>Я заменяю аккумулятор на месте, а запчасть подбираю по автомобилю.</p>
                            <h2>от 500 ₽<sub>+ запчасть</sub></h2>
                        </div>
                        <div class="pricing-item-btn-gold">
                            <a href="/#contact" class="btn-default">Заказать помощь</a>
                        </div>
                    </div>
                    <!-- Pricing Item Header End -->

                    <!-- Pricing Item List Start -->
                    <div class="pricing-item-list-gold">
                        <h3>В услугу входит:</h3>
                        <ul>
                            <li>Выезд по Тюмени</li>
                            <li>Снятие старого аккумулятора</li>
                            <li>Установка новой запчасти</li>
                        </ul>
                    </div>
                    <!-- Pricing Item List End -->
                </div>
                <!-- Pricing Item End -->
            </div>

            <div class="col-xl-4 col-md-6">
                <!-- Pricing Item Start -->
                <div class="pricing-item-gold wow fadeInUp" data-wow-delay="0.4s">
                    <!-- Pricing Item Header Start -->
                    <div class="pricing-item-header-gold">
                        <div class="icon-box">
                            <img src="/images/icon-pricing-3-gold.svg" alt="">
                        </div>
                        <div class="pricing-item-content-gold">
                            <span class="pricing-item-title-gold">Отогрев и эвакуатор</span>
                            <p>Я отогреваю автомобиль или организую эвакуацию при серьёзной неисправности.</p>
                            <h2>от 1 500 ₽<sub>/выезд</sub></h2>
                        </div>
                        <div class="pricing-item-btn-gold">
                            <a href="/#contact" class="btn-default">Заказать помощь</a>
                        </div>
                    </div>
                    <!-- Pricing Item Header End -->

                    <!-- Pricing Item List Start -->
                    <div class="pricing-item-list-gold">
                        <h3>В услугу входит:</h3>
                        <ul>
                            <li>Выезд к автомобилю</li>
                            <li>Отогрев двигателя и замков</li>
                            <li>Эвакуация по согласованному маршруту</li>
                        </ul>
                    </div>
                    <!-- Pricing Item List End -->
                </div>
                <!-- Pricing Item End -->
            </div>

            <div class="col-lg-12">
                <!-- Pricing Benifit List Start -->
                <div class="pricing-benefit-list-gold wow fadeInUp" data-wow-delay="0.6s">
                    <ul>
                        <li><img src="/images/icon-pricing-benefit-1.svg" alt="">Цена до начала работ</li>
                        <li><img src="/images/icon-pricing-benefit-2.svg" alt="">Без скрытых доплат</li>
                        <li><img src="/images/icon-pricing-benefit-3.svg" alt="">Помощь в удобное время</li>
                    </ul>
                </div>
                <!-- Pricing Benifit List End -->
            </div>
        </div>
    </div>
</div>
<!-- Pricing Plan Section End -->