---
// Соцшеринг статьи (перенос блока "Post Social Links" из source/blog-single.html).
---

<!-- Post Social Links Start -->
<div class="post-social-sharing wow fadeInUp" data-wow-delay="0.5s">
	<ul>
		<li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
		<li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
		<li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
		<li><a href="#"><i class="fa-brands fa-x-twitter"></i></a></li>
	</ul>
</div>
<!-- Post Social Links End -->
