---
// Блок «Что я делаю» хаба. Разметка перенесена из шаблона (what-we-do bg-section dark-section).
---

<!-- What We Do Section Start -->
<div class="what-we-do bg-section dark-section">
	<div class="container">
		<div class="row section-row">
			<div class="col-lg-12">
				<!-- Section Title Start -->
				<div class="section-title section-title-center">
					<span class="section-sub-title wow fadeInUp">Что я делаю</span>
					<h2 class="text-anime-style-3" data-cursor="-opaque">Я возвращаю автомобиль в движение</h2>
					<p class="wow fadeInUp" data-wow-delay="0.2s">Я оказываю техпомощь при распространённых дорожных ситуациях: запускаю двигатель, меняю аккумулятор, отогреваю автомобиль, подвожу топливо и вскрываю авто без повреждений.</p>
				</div>
				<!-- Section Title End -->
			</div>
		</div>

		<div class="row">
			<div class="col-lg-12">
				<!-- What We Do Item List Start -->
				<div class="what-we-do-item-list">
					<!-- What We Do Item Start -->
					<div class="what-we-do-item wow fadeInUp">
						<div class="icon-box">
							<img src="/images/icon-what-we-do-item-1.svg" alt="Прикурить авто" />
						</div>
						<div class="what-we-do-item-title">
							<h3>Прикурить авто</h3>
						</div>
					</div>
					<!-- What We Do Item End -->

					<!-- What We Do Item Start -->
					<div class="what-we-do-item wow fadeInUp" data-wow-delay="0.2s">
						<div class="icon-box">
							<img src="/images/icon-what-we-do-item-2.svg" alt="Замена аккумулятора" />
						</div>
						<div class="what-we-do-item-title">
							<h3>Замена аккумулятора</h3>
						</div>
					</div>
					<!-- What We Do Item End -->

					<!-- What We Do Item Start -->
					<div class="what-we-do-item wow fadeInUp" data-wow-delay="0.4s">
						<div class="icon-box">
							<img src="/images/icon-what-we-do-item-3.svg" alt="Отогрев автомобиля" />
						</div>
						<div class="what-we-do-item-title">
							<h3>Отогрев автомобиля</h3>
						</div>
					</div>
					<!-- What We Do Item End -->

					<!-- What We Do Item Start -->
					<div class="what-we-do-item wow fadeInUp" data-wow-delay="0.6s">
						<div class="icon-box">
							<img src="/images/icon-what-we-do-item-4.svg" alt="Подвоз топлива и вскрытие авто" />
						</div>
						<div class="what-we-do-item-title">
							<h3>Подвоз топлива и вскрытие авто</h3>
						</div>
					</div>
					<!-- What We Do Item End -->
				</div>
				<!-- What We Do Item List End -->
			</div>

			<div class="col-lg-12">
				<!-- What We Do Image Start -->
				<div class="what-we-do-image">
					<figure>
						<img src="/images/what-we-do-image.png" alt="Услуги техпомощи на дороге" />
					</figure>
				</div>
				<!-- What We Do Image End -->
			</div>
		</div>
	</div>
</div>
<!-- What We Do Section End -->
