---
const { image = '/images/service-single-image.jpg', alt = '' } = Astro.props;
---

<!-- Page Single Image Start -->
<div class="page-single-image">
	<figure class="image-anime reveal">
		<img src={image} alt={alt} />
	</figure>
</div>
<!-- Page Single Image End -->
