---
const { title = 'Почему выбирают эту помощь', description, items = [] } = Astro.props;
---

{
	items.length > 0 && (
		<div class="service-why-choose-box">
			<h2 class="text-anime-style-3">{title}</h2>
			{description && <p class="wow fadeInUp">{description}</p>}

			<ul class="wow fadeInUp" data-wow-delay="0.2s">
				{items.map((item) => (
					<li>{item}</li>
				))}
			</ul>
		</div>
	)
}
